.createPostCard{
    background-color:burlywood;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.topSection{
    display: flex;
    flex: 3;
}
.profilePic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.postInput{
    resize: none;
    flex: 5;
}
.bottomSection{
    flex: 2;
}