.sidebar{
	flex: 3;
	height: calc(100vh - 50px);
	overflow-y: auto;
	position: sticky;
	top: 50px;
}

.sidebarWrapper{
	padding: 20px;
}
.sidebarList{
	padding: 0;
	margin: 0;
	list-style: none;
}
.sidebarLink {
  text-decoration: none;
  color: inherit;
}
.sidebarListItem{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.sidebarListItem:hover {
  background-color: #f0f2f5;
}

/* ACTIVE ROUTE */
.sidebarListItem.active {
  background-color: #e7f3ff;
  color: #1877f2;
  font-weight: 500;
}
.sidebarListItemIcon{
	margin-right: 15px;
}
.sidebarButton{
	width: 150px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-weight: 500;
}
.sidebarHr{
	margin: 20px 0;
}
.sidebarFriendList{
	padding: 0;
	margin: 0;
	list-style: none;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}















